<li class="entry-element">
    <div class="recent-header d-flex justify-content-between">
        <div class="d-flex gap-2 justify-content-between align-items-center">
            <p class="entry-name" style="width: 350px;">Entrada: <span class="nombre"></span></p>
            <p class="entry-type" style="width: 150px;">Tipo: <span class="tipo"></span></p>
            <p class="entry-time" style="width: 150px;">Hora: <span class="hora"></span></p>
        </div>
        <button class="btn btn-primary show-info" type="button">
            Ver info
        </button>
    </div>
    <hr>
    <div class="element-info" style="display: none;">
        <div class="card card-body entry-body student-teacher" style="display: flex; justify-content: space-between; flex-direction: row;">
            <div class="entry-half1">
                <p style="display: none;" class="matricula-p">Matricula: <span class="matricula"></span></p>
                <p>Carrera: <span class="carrera"></span></p>
                <p>Area: <span class="area"></span></p>
            </div>
            <div class="entry-half2">
                <p>Modelo del carro: <span class="modelo"></span></p>
                <p>Placa: <span class="placa"></span></p>
                <p>Color: <span class="color"></span></p>
            </div>
        </div>
        <div class="card card-body entry-body visit" style="display: flex; justify-content: space-between; flex-direction: row;">
            <div class="entry-half1">
                <p style="display: none;" class="matricula-p">Matricula: <span class="matricula"></span></p>
                <p>Nombre: <span class="visit-name"></span></p>
                <p>Modelo de carro: <span class="visit-model"></span></p>
            </div>
            <div class="entry-half2">
                <p>Asunto: <span class="visit-reason"></span></p>
            </div>
        </div>
    </div>
</li>