<div class="home-title mb-5 mt-4">
    <h1 class="text-center text-white" style="font-size: 50px;">Control Vehicular</h1>
    <div class="bg-white home-deco"></div>
</div>

<div class="recent-entries">

</div>
<div class="buttons-content">

</div>
<article class="graphic mt-5">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h3 class="hour-vehicles-title">Vehiculos por hora</h3>
        <div class="d-flex gap-3 align-items-center">
            <input type="date" id="datePicker" class="form-control">
            <button id="updateChartButton" class="btn text-white" style="background: #008A7F;">Buscar</button>
        </div>
    </div>
    <canvas id="myChart" class="bg-white"></canvas>
</article>
<script>
    actualView = "Recent";
    loadPartialView("Modules/entry_model", document.querySelector('.recent-entries'));
    loadPartialView("Modules/redirect_buttons", document.querySelector('.buttons-content'));

    getEntries(actualView);

    var timeRanges = [
        { name: "6:00 - 7:00", start: "6:00:00", end: "7:00:00" },
        { name: "7:00 - 8:00", start: "7:00:00", end: "8:00:00" },
        { name: "8:00 - 9:00", start: "8:00:00", end: "9:00:00" },
        { name: "9:00 - 10:00", start: "9:00:00", end: "10:00:00" },
        { name: "10:00 - 11:00", start: "10:00:00", end: "11:00:00" },
        { name: "11:00 - 12:00", start: "11:00:00", end: "12:00:00" },
        { name: "12:00 - 13:00", start: "12:00:00", end: "13:00:00" },
        { name: "13:00 - 14:00", start: "13:00:00", end: "14:00:00" },
        { name: "14:00 - 15:00", start: "14:00:00", end: "15:00:00" },
        { name: "15:00 - 16:00", start: "15:00:00", end: "16:00:00" },
        { name: "16:00 - 17:00", start: "16:00:00", end: "17:00:00" },
        { name: "17:00 - 18:00", start: "17:00:00", end: "18:00:00" },
        { name: "18:00 - 19:00", start: "18:00:00", end: "19:00:00" },
        { name: "19:00 - 20:00", start: "19:00:00", end: "20:00:00" },
        { name: "20:00 - 21:00", start: "20:00:00", end: "21:00:00" },
        { name: "21:00 - 22:00", start: "21:00:00", end: "22:00:00" },
        { name: "22:00 - 23:00", start: "22:00:00", end: "23:00:00" }
    ];

    var counters = {};
    timeRanges.forEach(range => {
        counters[range.name] = 0;
    });

    // Datos iniciales para el gráfico
    var data = {
        labels: timeRanges.map(range => range.name),
        datasets: [{
            label: 'Vehículos por Hora',
            data: timeRanges.map(() => 0), // Inicialmente todos los valores son 0
            backgroundColor: 'rgba(255, 99, 132, 0.2)', // Color de fondo de las barras
            borderColor: 'rgba(255, 99, 132, 1)', // Color del borde de las barras
            borderWidth: 1 // Ancho del borde de las barras
        }]
    };

    // Configuración del gráfico
    var config = {
        type: 'bar',
        data: data,
    };

    // Crear el gráfico inicial
    var myChart = new Chart(
        document.getElementById('myChart'),
        config
    );

    function fetchAndUpdateChart(date) {
        $.ajax({
            url: `http://localhost:3000/vehicleEntries/entriesByDate?date=${date}`,
            method: "GET",
            contentType: "application/json",
            success: function (response) {
                console.error(response);
                // Reiniciar los contadores
                timeRanges.forEach(range => {
                    counters[range.name] = 0;
                });

                // Iterar sobre los objetos y verificar el rango
                response.forEach(obj => {
                    timeRanges.forEach(range => {
                        if (obj.time >= range.start && obj.time < range.end) {
                            counters[range.name]++;
                        }
                    });
                });

                // Actualizar los datos del gráfico
                myChart.data.datasets[0].data = timeRanges.map(range => counters[range.name]);

                // Volver a dibujar el gráfico
                myChart.update();
            },
            error: function (xhr, status, error) {
                console.error('Error al cargar los datos: ', error);
            }
        });
    }

    document.getElementById('updateChartButton').addEventListener('click', function () {
        var date = document.getElementById('datePicker').value;
        if (date) {
            fetchAndUpdateChart(date);
        } else {
            showAlert("warning", "Seleccione una fecha valida");
        }
    });
</script>